<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Upload_Transferencias_Ventas_TBE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Upload_Transferencias_Ventas_TBE.My.MySettings>
            <setting name="EnviarDatosUNOEE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cia_UNOEE" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="bitPruebas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strConexionSQL" serializeAs="String">
                <value>Data Source=192.168.0.211;Initial Catalog=INTWMS_MED;User ID=sa;Password=Sa123456;Integrated Security=False</value>
            </setting>
            <setting name="strConexionSQL_Pruebas" serializeAs="String">
                <value>Data Source=172.60.8.116;Initial Catalog=INTWMS_MED;User ID=sa;Password=Sa123456;Integrated Security=False</value>
            </setting>
            <setting name="conexion_UNOEE" serializeAs="String">
                <value>WSREAL</value>
            </setting>
            <setting name="conexion_UNOEE_Pruebas" serializeAs="String">
                <value>PRUATENEA</value>
            </setting>
            <setting name="usuario_UNOEE" serializeAs="String">
                <value>wms.integracion</value>
            </setting>
            <setting name="clave_UNOEE" serializeAs="String">
                <value>Wms2020</value>
            </setting>
            <setting name="nombreTareaInterface" serializeAs="String">
                <value>MED_Upload_Traslado_Ventas_TBE</value>
            </setting>
            <setting name="procedimientoPrincipal" serializeAs="String">
                <value>sp_Upload_Traslado_Ventas_TBE</value>
            </setting>
            <setting name="rutaPlanosGT" serializeAs="String">
                <value>E:\PlanosGT\</value>
            </setting>
        </Upload_Transferencias_Ventas_TBE.My.MySettings>
    </userSettings>
</configuration>