<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Download_Transferencias.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Download_Transferencias.My.MySettings>
            <setting name="ServidorCorreoSMTP" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="Puerto" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="Ssl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsuarioMail" serializeAs="String">
                <value>siesa@dislicores.com</value>
            </setting>
            <setting name="PassMail" serializeAs="String">
                <value>D1sl1c0r3s2019</value>
            </setting>
            <setting name="CorreoRemitente" serializeAs="String">
                <value>siesa@dislicores.com</value>
            </setting>
            <setting name="strDestinatarios" serializeAs="String">
                <value>elkin.munoz@dislicores.com</value>
            </setting>
            <setting name="bitPruebas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="strConexionSQL_Pruebas" serializeAs="String">
                <value>Data Source=192.168.0.54;Initial Catalog=WMS_DisTest;User ID=sa;Password=D1sl1c0r3s;Integrated Security=False</value>
            </setting>
            <setting name="strConexionSQL" serializeAs="String">
                <value>Data Source=192.168.0.54;Initial Catalog=WMS_DistReal;User ID=sa;Password=D1sl1c0r3s;Integrated Security=False</value>
            </setting>
        </Download_Transferencias.My.MySettings>
    </userSettings>
</configuration>