<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UPLOAD_Entrada_POP_Directas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UPLOAD_Entrada_POP_Directas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UPLOAD_Entrada_POP_Directas.My.MySettings>
            <setting name="bitPruebas" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strConexionSQL" serializeAs="String">
                <value>Data Source=192.168.0.54;Initial Catalog=WMS_DisReal;User ID=sa;Password=D1sl1c0r3s;Integrated Security=False</value>
            </setting>
            <setting name="strConexionSQL_Pruebas" serializeAs="String">
                <value>Data Source=192.168.0.54;Initial Catalog=WMS_DisTest;User ID=sa;Password=D1sl1c0r3s;Integrated Security=False</value>
            </setting>
            <setting name="EnviarDatosUNOEE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strConexionSiesa" serializeAs="String">
                <value>WSREAL</value>
            </setting>
            <setting name="strConexionSiesaPruebas" serializeAs="String">
                <value>WSPRUEBABI</value>
            </setting>
            <setting name="strUsuarioSiesa" serializeAs="String">
                <value>wms.integracion</value>
            </setting>
            <setting name="strClaveSiesa" serializeAs="String">
                <value>Wms2020</value>
            </setting>
            <setting name="nombreTareaInterface" serializeAs="String">
                <value>Bog_Upload_Entradas_Desde_OC</value>
            </setting>
            <setting name="procedimientoPrincipal" serializeAs="String">
                <value>sp_BOG_UPLOAD_Entrada_Desde_OC</value>
            </setting>
            <setting name="rutaPlanosGT" serializeAs="String">
                <value>E:\PlanosGT\</value>
            </setting>
        </UPLOAD_Entrada_POP_Directas.My.MySettings>
    </userSettings>
    <applicationSettings>
        <UPLOAD_Entrada_POP_Directas.My.MySettings>
            <setting name="UPLOAD_Entrada_POP_Directas_WSUNOEE_WSUNOEE" serializeAs="String">
                <value>http://192.168.0.105:8056/WSUNOEE_ODISEO_WMS_Bogota/WSUNOEE.ASMX</value>
            </setting>
            <setting name="UPLOAD_Entrada_POP_Directas_WSGT_wsGenerarPlano"
                serializeAs="String">
                <value>http://192.168.0.54:8082/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
        </UPLOAD_Entrada_POP_Directas.My.MySettings>
    </applicationSettings>
</configuration>