<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebServices.Properties.Settings>
            <setting name="WebServices_WSUNOEE_WSUNOEE" serializeAs="String">
                <value>http://192.168.0.105:8057/WSUNOEE_ODISEO_WMS_MEDELLIN/WSUNOEE.asmx</value>
            </setting>
            <setting name="WebServices_WSGT_wsGenerarPlano" serializeAs="String">
                <value>http://192.168.0.54:8050/GTIntegration_Heros_CE/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
        </WebServices.Properties.Settings>
    </applicationSettings>
</configuration>